/*
Project Name: Redline Realtor
Client: Michael Conroy
Author: Lavell Wesley
Developer @RC in Boston
Date (started):
Date (completed):
*/


/*******************************************/
/* SETUP
/*******************************************/

/* Box Model Hack */
 {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/*******************************************/
/* 262626
/*******************************************/

body {
     background-color: #262626;
     color: #FFF;
     font-size: 12px;
     font-family: Futura,Helvetica, Arial, sans-serif;
     height: 320em;
     line-height: 1.4;
}


/*******************************************/
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
	width: 960px;
	margin: auto;
}

header {

}
/*CONNECTED TO INDEX2*/
  .blogPage{
    margin: 0 0 0 10%;
  }
/*CONNECTED TO INDEX2*/
/*start of targeting the nav*/
#mainNav{

}
nav{
}

/* .fixed-nav nav{
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
} */

li > h2{
  color: #FFF;
  letter-spacing: 3px;
  margin: 0 0 -1em 0%;
}
.homeMove{
  /*used to move the nav bar*/
  margin: 0 0 0 50%;
}
ul > li{
  display: inline;
  font-size: 1.5em;
  list-style-type: none;
  margin: 0 0 0 2%;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
a{
  color: #FFF;
  text-decoration: none;
}
li a:hover{
  text-decoration: underline;
}
/* .hiddenDesktop{
  display:
} */
/*End of targeting the Nav*/
ul + hr{
  margin: -0.9em 0 5em 3%;
  width: 30%;
}
.banner{
  background: #FFF;
  border: 1px solid white;
  height: 40em;
  max-height: ;
  margin: auto;
  width: 95%;
  max-width: ;
}
/**********************************************/
/********BEGINNING OF BACK TO TOP BUTTON*******/
/*********************************************/
.backToTop{
  background-color:grey ;
  color: white;
  display: none;
  padding: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 200;
}
/*********************************************/
/*******END OF BACK TO TOP BUTTON*************/
/*********************************************/
.mainBlogButton{/*For now there is no blog*/
  border: none;
  display: none;
  font-size: 1.6em;
  font-weight: 700;
  height: 2.8em;
  margin: 2em 0 -1em 58%;
  width: 35%;
}
/* Everything that falls under the main content section
includes up until hit us up on instagram */
.mainContent{
  background: #FFF;
  border: 1px solid transparent;
  height: 248em;/*Might make this 220*/
  max-height:320em ;
  margin: 10em auto;
  width: 95%;
  max-width: ;
}
/*****************************************
******************************************
Start of Targets the about section of the website
this includes topfloor and basement scene
also the blog button*********************
******************************************
*******************************************/
.topFloor{
  border: 0.555em solid #262626;
  float: left;
  margin: -4em 0 0 5%;
}
.titleBorderTop{
  border: .5em solid grey;
  height: 9em;
  margin: 8em 0 0 2%;
  width: 20%;
}
.topFloorTypeface{
  color: #000;
  font-size: 2.5em;
  margin: 0.5em 0 0 26%;
  width: 100%;
}
.topFloor + p{
  float: right;
  margin: 0.5em 5% 0 0;
}
/*************targeting basementscene*/
.topBasement{
  border: 0.555em solid #262626;
  margin: -3em 0 0 0;
}
.titleBorderBottom{
  border: .5em solid grey;
  height: 9em;
  margin: 30em 0 0 75%;
  width: 20%;
}
.topBasementTypeface{/*Targets basement scene typeface only*/
  color: #000;
  font-size: 2.5em;
  margin: 0.5em 0 2.5em -28%;
}
img + p {
  float: left;
  font-size: 1.4em;
  margin: 0 2% 0 5%;
  width: 44%;
}
.blogButton{
  background-color: #262626;
  border: none;
  clear: both;
  color: #FFF;
  display: none;
  float: left;
  font-size: 1.2em;
  font-weight: 600;
  height: 3.8em;
  margin: -5em 0 0 17%;
  width: 13%;
}
/*****************************************
******************************************
END of Targets the about section of the website
this includes topfloor and basement scene
also the blog button*********************
******************************************
*******************************************/


/*****************************************
******************************************
Start of targeting h2 "All about Location"
******************************************
*******************************************/
.mainContent > h2{
  color: #000;
  font-size: 4.5em;
  position: relative;
  top: 56px;
  width: 30%;
}

button + h2{
  color: #000;
  font-size: 4.5em;
  margin: 1em 0 0 70%;
  width: 25%;
}
/*****************************************
******************************************
end of targeting h2 "All about Location"
******************************************
*******************************************/
.interactiveMap{
  height: 550px;
  width: 100%;
}
.mapCards{
  width: 30%;
  position: absolute;
  left:2.1%;
  top:2100px;
  z-index: 100;
}
.hidden{
  display: none;
}
img + h2 {
  color: #000;
  font-size: 4.5em;
  width: 45%;
}
.moreButton{
  background-color: #FFF;
  border: .3em solid #8f8f8f;
  font-size: 1.8em;
  font-weight: 800;
  height: 2.8em;
  margin: 0 0 0 44%;
  width: 10%;
}

h2{
  color: #FFF;
}
p{
  color: #000;
}
.faqContact{
  background: #262626;
  border: 1px solid transparent;
  height: 60em;
  max-height: 285em;
  margin: 10em 0 0 -0.1em;
  width: 100.1%;
}
.headers{
  border: 1px solid transparent;
  font-size: 4.5em;
  font-weight: 800;
  margin: 5px 0 -30px 0;
  height: 2em;
  width: 100%s
}
.contactHeader{
  margin: 0 0 0 35%;
}
.faq{
  border: 1px solid transparent;
  float: left;
  font-size: 1.5em;
  height: 30em;
  overflow-x: auto;
  width: 48%
}
ol > li{
  display: block;
  margin: 24px 0 0 0;
  overflow: hidden;
  padding: 5px;
}
/***********************************/
/***********STarts the *************/
/***********Faq Page ***************/
/***********Jquery Code*************/
li.q{
  cursor: default;
  font-size: 1em;
}
li.a{
  font-size: 1.1em;
  font-weight: 300;
  margin: 0 0 0 0;
}
li.q::before{
content: attr(data-icon);
margin-right: 10px;
}
/* li.q:hover{
  text-decoration: underline;
} */

/***********************************/
/***********Ends the *************/
/***********Faq Page ***************/
/***********Jquery Code*************/
.socialMedia{
  color: #fff;
  font-size: 3.2em;
  font-weight: 800;
  margin: 1.2em 0 0 -51%;
}
a > img{/*the social media links and images*/
margin: 0.5em 0 0 2.5%;
width: 12%;
}

.contact{
  border: 1px solid transparent;
  float: left;
  height: 35em;
  margin: 80px 0 -54px 2.5%;
  width: 48%
}
#fname{
  height: 2.5em;
  width: 30%;
}
#lname{
  height: 2.5em;
  margin: 0 0 0 5%;
  width: 30%;
}
#subject{
  margin: 13px 0 0 0%;
  width: 66.5%;
}
#submit{
  background: none;
  border: none;
  color: #FFF;
  font-size: 1.3em;
  font-weight: 700;
  margin: 1.3em 0 0 50%;
}
h4{
  color: #000;
  font-size: 1.2em;
  margin: 0 0 0 0;
  text-align: center;
}
.topEho{
  font-weight: 400;
  margin: 2.5em 0 0.5em 0;
}
.bottomEho{
  font-weight: 400;
  margin: 0.5em 0 0 0;
}
h4 + img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
}
footer {

}

/*******************************************/
/* ADDITIONAL STYLES
/*******************************************/














/*******************************************/
/* MEDIA QUERIES
/*******************************************/

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  body {
     background-color: #262626;
     color: #FFF;
     font-size: 12px;
     font-family: Futura,Helvetica, Arial, sans-serif;
     height: 320em;
     line-height: 1.4;
}


/*******************************************/
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 960px;
  margin: auto;
}

header {

}
/*start of targeting the nav*/
#mainNav{

}
nav{
}

/* .fixed-nav nav{
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
} */

li > h2{
  color: teal;
  letter-spacing: 3px;
  font-size: 1.5em;
  margin: 0 0 -1em -0.5%;
}
.homeMove{
  /*used to move the nav bar*/
  margin: 0 0 0 50%;
}
div > li{
  display: inline;
  font-size: 1.5em;
  list-style-type: none;
  margin: 0 0 0 1.65%;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
a{
  color: #FFF;
  text-decoration: none;
}
li a:hover{
  text-decoration: underline;
}
.hiddenDesktop{
  display: none;
}
/*End of targeting the Nav*/
ul + hr{
  margin: -0.9em 0 5em 2.75%;
  width: 30%;
}
.banner{
  background: #FFF;
  border: 1px solid white;
  height: 50em;
  max-height: ;
  margin: auto;
  width: 95%;
  max-width: ;
}
.mainBlogButton{
  border: none;
  font-size: 1.6em;
  font-weight: 700;
  height: 2.8em;
  margin: 2em 0 -1em 58%;
  width: 35%;
}
/* Everything that falls under the main content section
includes up until hit us up on instagram */
.mainContent{
  background: #FFF;
  border: 1px solid transparent;
  height: 320em;/*Might make this 220*/
  max-height:320em ;
  margin: 10em auto;
  width: 95%;
  max-width: ;
}
/*****************************************
******************************************
Start of Targets the about section of the website
this includes topfloor and basement scene
also the blog button*********************
******************************************
*******************************************/
.topFloor{
  border: 0.555em solid #262626;
  float: left;
  margin: -3.5em 0 0 6%;
  width: 43%;
}
.titleBorderTop{
  border: .5em solid grey;
  height: 9.75em;
  margin: 12em 0 0 2%;
  width: 17%;
}
.topFloorTypeface{
  color: #000;
  font-size: 2.5em;
  margin: 0.3em 0 0 8%;
  outline: none;
  width: 121%;
}
.topFloor + p{
  float: right;
  margin: 0.5em 3% 0 0;
}
/*************targeting basementscene*/
.topBasement{
  border: 0.555em solid #262626;
  margin: -3em 0 -2.22em 0;
  width: 43%;
}
.titleBorderBottom{
  border: .5em solid grey;
  height: 7.75em;
  margin: 26em 0 0 80%;
  width: 17%;
}
.topBasementTypeface{/*Targets basement scene typeface only*/
  color: #000;
  font-size: 2.5em;
  font-weight: 800;
  margin: 0.5em 0 2.5em -36%;
}
img + p {
  float: left;
  font-size: 1.4em;
  margin: 0 2% 0 5%;
  width: 44%;
}
.blogButton{
  background-color: #262626;
  border: none;
  clear: both;
  color: #FFF;
  float: left;
  font-size: 1.2em;
  font-weight: 600;
  height: 3.8em;
  margin: 0em 0 0 17%;
  width: 13%;
}
/*****************************************
******************************************
END of Targets the about section of the website
this includes topfloor and basement scene
also the blog button*********************
******************************************
*******************************************/


/*****************************************
******************************************
Start of targeting h2 "All about Location"
******************************************
*******************************************/
.mainContent > h2{
  color: #000;
  font-size: 4.5em;
  outline: none;
  position: relative;
  top: 56px;
  left: 3%;
  text-align: left;
  width: 29%;
}
.img-fluid{
  display: inline;
  float: left;
  margin: 30px 0 0 0;
  padding-left: 3%;
  width: auto;
  height: 222px;
}
.instaimg img:hover{
  opacity: 0.5;
  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;
}
button + h2{
  color: #000;
  font-size: 4.5em;
  margin: 1em 0 0 70%;
  width: 25%;
}
/*****************************************
******************************************
end of targeting h2 "All about Location"
******************************************
*******************************************/
.interactiveMap{
  height: 550px;
  width: 100%;
}
.mapCards{
  width: 30%;
  position: absolute;
  left:2.1%;
  top:2000px;
  z-index: 100;
}
.hidden{
  display: none;
}
.accordianMenu{
  display: none;
}
.instagramCarsoul{
  background: #262626;
  border: 1px solid black;
  height: 440px;
  margin: auto;
  width: 98%;
}
img + h2 {
  color: #000;
  font-size: 4.5em;
  width: 45%;
}
.moreButton{
  background-color: #FFF;
  border: .3em solid #8f8f8f;
  font-size: 1.8em;
  font-weight: 800;
  height: 2.8em;
  margin: 15px 0 0 44%;
  width: 10%;
}

h2{
  color: #FFF;
}
p{
  color: #000;
}
.faqContact{
  background: #262626;
  border: 1px solid transparent;
  height: 60em;
  max-height: 285em;
  margin: 8em 0 0 -0.1em;
  width: 100.1%;
}
.headers{
  border: 1px solid transparent;
  font-size: 4.5em;
  font-weight: 800;
  margin: 5px 0 -30px 0;
  height: 2em;
  width: 100%s
}
#faq{
  outline: none;
}
.contactHeader{
  margin: 0 0 0 35%;
}
.contactHeaderTwo{
  text-align: left;
}
.hiddenContact{
  display: none;
}
/* .contactHeaderTwo span{
  color: red;
} */
.faq{
  border: 1px solid transparent;
  float: left;
  font-size: 1.5em;
  height: 30em;
  overflow-x: auto;
  width: 48%
}
ol > li{
  display: block;
  margin: 24px 0 0 0;
  overflow: hidden;
  padding: 5px;
}
/***********************************/
/***********STarts the *************/
/***********Faq Page ***************/
/***********Jquery Code*************/
li.q{
  cursor: default;
  font-size: 1em;
}
li.a{
  font-size: 1.1em;
  font-weight: 300;
  margin: 0 0 0 0;
}
li.q::before{
content: attr(data-icon);
margin-right: 10px;
}
/* li.q:hover{
  text-decoration: underline;
} */

/***********************************/
/***********Ends the *************/
/***********Faq Page ***************/
/***********Jquery Code*************/
.socialMedia{
  color: #fff;
  font-size: 3.2em;
  font-weight: 800;
  margin: 1.2em 0 0 -45%;
}
a > img{/*the social media links and images*/
margin: 0.5em 0 0 2.5%;
width: 12%;
}

.contact{
  border: 1px solid transparent;
  float: left;
  height: 35em;
  margin: 0 0 0 2.5%;
  width: 48%
}
.emailHover:hover{
  color: grey;
}
/* #fname{
  height: 2.5em;
  width: 30%;
}
#lname{
  height: 2.5em;
  margin: 0 0 0 5%;
  width: 30%;
}
#subject{
  margin: 13px 0 0 0%;
  width: 66.5%;
}
#submit{
  background: none;
  border: none;
  color: #FFF;
  font-size: 1.3em;
  font-weight: 700;
  margin: 1.3em 0 0 50%;
} */
h4{
  color: #000;
  font-size: 1.2em;
  margin: 0 0 0 0;
  text-align: center;
}
.topEho{
  font-weight: 400;
  margin: 2.5em 0 0.5em 0;
}
.bottomEho{
  font-weight: 400;
  margin: 0.5em 0 0 0;
}
h4 + img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
}
footer {

}
/**/
}


/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1140px) and (max-width: 1280px) {
  body {
       background-color: #262626;
       color: #FFF;
       font-size: 12px;
       font-family: Futura,Helvetica, Arial, sans-serif;
       height: 320em;
       line-height: 1.4;
  }


  /*******************************************/
  /* LAYOUT
  /*******************************************/

  /* Center the container */
  #container {
  	width: 960px;
  	margin: auto;
  }

  header {

  }
  /*start of targeting the nav*/
  #mainNav{

  }
  nav{
  }

  /* .fixed-nav nav{
    position: fixed;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
  } */

  li > h2{
    color: white;
    letter-spacing: 3px;
    margin: 0 0 -1em 0%;
  }
  .homeMove{
    /*used to move the nav bar*/
    margin: 0 0 0 50%;
  }
  div > li{
    display: inline;
    font-size: 1.5em;
    list-style-type: none;
    margin: 0 0 0 1.65%;
    overflow: hidden;
    padding: 0;
    width: 100%;
  }
  a{
    color: #FFF;
    text-decoration: none;
  }
  li a:hover{
    text-decoration: underline;
  }
  .hiddenDesktop{
    display: none;
  }
  /*End of targeting the Nav*/
  ul + hr{
    margin: -0.9em 0 5em 3%;
    width: 30%;
  }
  .banner{
    background: #FFF;
    border: 1px solid white;
    height: 40em;
    max-height: ;
    margin: auto;
    width: 95%;
    max-width: ;
  }
  .mainBlogButton{
    border: none;
    font-size: 1.6em;
    font-weight: 700;
    height: 2.8em;
    margin: 2em 0 -1em 58%;
    width: 35%;
  }
  /* Everything that falls under the main content section
  includes up until hit us up on instagram */
  .mainContent{
    background: #FFF;
    border: 1px solid transparent;
    height: 306em;/*Might make this 220*/
    max-height:320em ;
    margin: 10em auto;
    width: 95%;
    max-width: ;
  }
  /*****************************************
  ******************************************
  Start of Targets the about section of the website
  this includes topfloor and basement scene
  also the blog button*********************
  ******************************************
  *******************************************/
  .topFloor{
    border: 0.555em solid #262626;
    float: left;
    margin: -3.5em 0 0 6%;
    width: 43%;
  }
  .titleBorderTop{
    border: .5em solid grey;
    height: 7.75em;
    margin: 12em 0 0 2%;
    width: 17%;
  }
  .topFloorTypeface{
    color: #000;
    font-size: 2.5em;
    margin: 0.3em 0 0 8%;
    outline: none;
    width: 121%;
  }
  .topFloor + p{
    float: right;
    margin: 0.5em 3% 0 0;
  }
  /*************targeting basementscene*/
  .topBasement{
    border: 0.555em solid #262626;
    margin: -3em 0 -2.22em 0;
    width: 43%;
  }
  .titleBorderBottom{
    border: .5em solid grey;
    height: 7.75em;
    margin: 26em 0 0 80%;
    width: 17%;
  }
  .topBasementTypeface{/*Targets basement scene typeface only*/
    color: #000;
    font-size: 2.5em;
    font-weight: 800;
    margin: 0.5em 0 2.5em -36%;
  }
  img + p {
    float: left;
    font-size: 1.4em;
    margin: 0 2% 0 5%;
    width: 44%;
  }
  .blogButton{
    background-color: #262626;
    border: none;
    clear: both;
    color: #FFF;
    float: left;
    font-size: 1.2em;
    font-weight: 600;
    height: 3.8em;
    margin: 0em 0 0 17%;
    width: 13%;
  }
  /*****************************************
  ******************************************
  END of Targets the about section of the website
  this includes topfloor and basement scene
  also the blog button*********************
  ******************************************
  *******************************************/


  /*****************************************
  ******************************************
  Start of targeting h2 "All about Location"
  ******************************************
  *******************************************/
  .mainContent > h2{
    color: #000;
    font-size: 4.5em;
    outline: none;
    position: relative;
    top: 56px;
    left: 1%;
    text-align: left;
    width: 30%;
  }
  .img-fluid{
    display: inline;
    float: left;
    height: 200px;
    margin: 30px 0 0 0;
    padding-left: 4%;
    width: auto;
  }
  .instaimg img:hover{
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
  }
  button + h2{
    color: #000;
    font-size: 4.5em;
    margin: 1em 0 0 70%;
    width: 25%;
  }
  /*****************************************
  ******************************************
  end of targeting h2 "All about Location"
  ******************************************
  *******************************************/
  .interactiveMap{
    height: 550px;
    width: 100%;
  }
  .mapCards{
    width: 30%;
    position: absolute;
    left:2.1%;
    top:2000px;
    z-index: 100;
  }
  .hidden{
    display: none;
  }
  .accordianMenu{
    display: none;
  }
  .instagramCarsoul{
    background: #262626;
    border: 1px solid black;
    height: 440px;
    margin: auto;
    width: 98%;
  }
  img + h2 {
    color: #000;
    font-size: 4.5em;
    width: 45%;
  }
  .moreButton{
    background-color: #FFF;
    border: .3em solid #8f8f8f;
    font-size: 1.8em;
    font-weight: 800;
    height: 2.8em;
    margin: 25px 0 0 44%;
    width: 10%;
  }

  h2{
    color: #FFF;
  }
  p{
    color: #000;
  }
  .faqContact{
    background: #262626;
    border: 1px solid transparent;
    height: 60em;
    max-height: 285em;
    margin: 8em 0 0 -0.1em;
    width: 100.1%;
  }
  .headers{
    border: 1px solid transparent;
    font-size: 4.5em;
    font-weight: 800;
    margin: 5px 0 -30px 0;
    height: 2em;
    width: 100%s
  }
  #faq{
    outline: none;
  }
  .contactHeader{
    margin: 0 0 0 35%;
  }
  .contactHeaderTwo{
    text-align: left;
  }
  .hiddenContact{
    display: none;
  }
  /* .contactHeaderTwo span{
    color: red;
  } */
  .faq{
    border: 1px solid transparent;
    float: left;
    font-size: 1.5em;
    height: 30em;
    overflow-x: auto;
    width: 48%
  }
  ol > li{
    display: block;
    margin: 24px 0 0 0;
    overflow: hidden;
    padding: 5px;
  }
  /***********************************/
  /***********STarts the *************/
  /***********Faq Page ***************/
  /***********Jquery Code*************/
  li.q{
    cursor: default;
    font-size: 1em;
  }
  li.a{
    font-size: 1.1em;
    font-weight: 300;
    margin: 0 0 0 0;
  }
  li.q::before{
  content: attr(data-icon);
  margin-right: 10px;
  }
  /* li.q:hover{
    text-decoration: underline;
  } */

  /***********************************/
  /***********Ends the *************/
  /***********Faq Page ***************/
  /***********Jquery Code*************/
  .socialMedia{
    color: #fff;
    font-size: 3.2em;
    font-weight: 800;
    margin: 1.2em 0 0 -45%;
  }
  a > img{/*the social media links and images*/
  margin: 0.5em 0 0 2.5%;
  width: 12%;
  }

  .contact{
    border: 1px solid transparent;
    float: left;
    height: 35em;
    margin: 0 0 0 2.5%;
    width: 48%
  }
  .emailHover:hover{
    color: grey;
  }
  /* #fname{
    height: 2.5em;
    width: 30%;
  }
  #lname{
    height: 2.5em;
    margin: 0 0 0 5%;
    width: 30%;
  }
  #subject{
    margin: 13px 0 0 0%;
    width: 66.5%;
  }
  #submit{
    background: none;
    border: none;
    color: #FFF;
    font-size: 1.3em;
    font-weight: 700;
    margin: 1.3em 0 0 50%;
  } */
  h4{
    color: #000;
    font-size: 1.2em;
    margin: 0 0 0 0;
    text-align: center;
  }
  .topEho{
    font-weight: 400;
    margin: 2.5em 0 0.5em 0;
  }
  .bottomEho{
    font-weight: 400;
    margin: 0.5em 0 0 0;
  }
  h4 + img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
  }
  footer {

  }
}
@media (min-width: 1025px) and (max-width: 1140px) {

  body {
       background-color: #262626;
       color: #FFF;
       font-size: 12px;
       font-family: Futura,Helvetica, Arial, sans-serif;
       height: 320em;
       line-height: 1.4;
  }


  /*******************************************/
  /* LAYOUT
  /*******************************************/

  /* Center the container */
  #container {
  	width: 960px;
  	margin: auto;
  }

  header {

  }
  /*start of targeting the nav*/
  #mainNav{

  }
  nav{
  }

  /* .fixed-nav nav{
    position: fixed;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
  } */

  li > h2{
    color: orange;
    letter-spacing: 3px;
    margin: 0 0 -1em 0%;
  }
  .homeMove{
    /*used to move the nav bar*/
    margin: 0 0 0 50%;
  }
  ul > li{
    display: inline;
    font-size: 1.5em;
    list-style-type: none;
    margin: 0 0 0 1.25%;
    overflow: hidden;
    padding: 0;
    width: 100%;
  }
  a{
    color: #FFF;
    text-decoration: none;
  }
  li a:hover{
    text-decoration: underline;
  }
  /*End of targeting the Nav*/
  ul + hr{
    margin: -0.9em 0 5em 3%;
    width: 30%;
  }
  .banner{
    background: #FFF;
    border: 1px solid white;
    height: 40em;
    max-height: ;
    margin: auto;
    width: 95%;
    max-width: ;
  }
  .mainBlogButton{
    border: none;
    font-size: 1.4em;
    font-weight: 700;
    height: 2.6em;
    margin: 2em 0 -1em 58%;
    width: 33%;
  }
  /* Everything that falls under the main content section
  includes up until hit us up on instagram */
  .mainContent{
    background: #FFF;
    border: 1px solid transparent;
    height: 255em;/*Might make this 220*/
    max-height:320em ;
    margin: 10em auto;
    width: 95%;
    max-width: ;
  }
  /*****************************************
  ******************************************
  Start of Targets the about section of the website
  this includes topfloor and basement scene
  also the blog button*********************
  ******************************************
  *******************************************/
  .topFloor{
    border: 0.555em solid #262626;
    float: left;
    margin: -4em 0 0 6%;
    width: 42%;
  }
  .titleBorderTop{
    border: .5em solid grey;
    height: 8em;
    margin: 8em 0 0 2%;
    width: 20%;
  }
  .topFloorTypeface{
    color: #000;
    font-size: 2.2em;
    margin: 0.5em 0 0 17%;
    width: 100%;
  }
  .topFloor + p{
    float: right;
    margin: -0.5em 3% 0 0;
  }
  /*************targeting basementscene*/
  .topBasement{
    border: 0.555em solid #262626;
    margin: -3em 0 0 0;
    width: 42%;
  }
  .titleBorderBottom{
    border: .5em solid grey;
    height: 8em;
    margin: 30em 0 0 76.5%;
    width: 20%;
  }
  .topBasementTypeface{/*Targets basement scene typeface only*/
    color: #000;
    font-size: 2.3em;
    font-weight: 800;
    margin: 0.5em 0 2.5em -34%;
  }
  img + p {
    float: left;
    font-size: 1.4em;
    margin: -0.5em 3% 0 4%;
    width: 44%;
  }
  .blogButton{
    background-color: #262626;
    border: none;
    clear: both;
    color: #FFF;
    float: left;
    font-size: 1.2em;
    font-weight: 600;
    height: 3.6em;
    margin: 0em 0 0 17%;
    width: 16%;
  }
  /*****************************************
  ******************************************
  END of Targets the about section of the website
  this includes topfloor and basement scene
  also the blog button*********************
  ******************************************
  *******************************************/


  /*****************************************
  ******************************************
  Start of targeting h2 "All about Location"
  ******************************************
  *******************************************/
  .mainContent > h2{
    color: #000;
    font-size: 4.3em;
    position: relative;
    top: 56px;
    width: 30%;
  }

  button + h2{
    color: #000;
    font-size: 4.5em;
    margin: 1em 0 0 70%;
    width: 25%;
  }
  /*****************************************
  ******************************************
  end of targeting h2 "All about Location"
  ******************************************
  *******************************************/
  .interactiveMap{
    height: 550px;
    width: 100%;
  }
  .mapCards{
    width: 30%;
    position: absolute;
    left:2.1%;
    top:2100px;
    z-index: 100;
  }
  .hidden{
    display: none;
  }
  img + h2 {
    color: #000;
    font-size: 4.5em;
    width: 45%;
  }
  .moreButton{
    background-color: #FFF;
    border: .3em solid #8f8f8f;
    font-size: 1.8em;
    font-weight: 800;
    height: 2.8em;
    margin: 100px 0 -20px 44%;
    width: 10%;
  }

  h2{
    color: #FFF;
  }
  p{
    color: #000;
  }
  .faqContact{
    background: #262626;
    border: 1px solid transparent;
    height: 60em;
    max-height: 285em;
    margin: 10em 0 0 -0.1em;
    width: 100.1%;
  }
  .headers{
    border: 1px solid transparent;
    font-size: 4.5em;
    font-weight: 800;
    margin: 5px 0 -30px 0;
    height: 2em;
    width: 100%s
  }
  .contactHeader{
    margin: 0 0 0 35%;
  }
  .faq{
    border: 1px solid transparent;
    float: left;
    font-size: 1.5em;
    height: 30em;
    overflow-x: auto;
    width: 48%
  }
  ol > li{
    display: block;
    margin: 24px 0 0 0;
    overflow: hidden;
    padding: 5px;
  }
  /***********************************/
  /***********STarts the *************/
  /***********Faq Page ***************/
  /***********Jquery Code*************/
  li.q{
    cursor: default;
    font-size: 1em;
  }
  li.a{
    font-size: 0.9em;
    font-weight: 300;
    margin: 0 0 0 0;
  }
  li.q::before{
  content: attr(data-icon);
  margin-right: 10px;
  }
  /* li.q:hover{
    text-decoration: underline;
  } */

  /***********************************/
  /***********Ends the *************/
  /***********Faq Page ***************/
  /***********Jquery Code*************/
  .socialMedia{
    color: #fff;
    font-size: 3.2em;
    font-weight: 800;
    margin: 1em 0 0 -42%;
  }
  a > img{/*the social media links and images*/
  margin: 0.5em 0 0 2.5%;
  width: 12%;
  }

  .contact{
    border: 1px solid transparent;
    float: left;
    height: 35em;
    margin: 0 0 0 2.5%;
    width: 48%
  }
  #fname{
    height: 2.5em;
    width: 30%;
  }
  #lname{
    height: 2.5em;
    margin: 0 0 0 5%;
    width: 30%;
  }
  #subject{
    margin: 13px 0 0 0%;
    width: 66.5%;
  }
  #submit{
    background: none;
    border: none;
    color: #FFF;
    font-size: 1.3em;
    font-weight: 700;
    margin: 1.3em 0 0 50%;
  }
  h4{
    color: #000;
    font-size: 1.2em;
    margin: 0 0 0 0;
    text-align: center;
  }
  .topEho{
    font-weight: 400;
    margin: 2.5em 0 0.5em 0;
  }
  .bottomEho{
    font-weight: 400;
    margin: 0.5em 0 0 0;
  }
  h4 + img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
  }
  footer {

  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px){


}


/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {



}
@media (min-width: 480px)and (max-width:768px){


}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  body {
       background-color: #262626;
       color: #FFF;
       font-size: 12px;
       font-family: Futura,Helvetica, Arial, sans-serif;
       height: 320em;
       line-height: 1.4;
  }


  /*******************************************/
  /* LAYOUT
  /*******************************************/

  /* Center the container */
  #container {
    width: 960px;
    margin: auto;
  }

  header {

  }
  /*start of targeting the nav*/
  #mainNav{

  }
  nav{
  }
  .navLink{
    padding: 0 0 0 0;
  }

  /* .fixed-nav nav{
    position: fixed;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
  } */

  li > h2{
    color: pink;
    letter-spacing: 3px;
    margin: 0 0 -6px 2%;
    width: 95%;
  }
  .homeMove{
    /*used to move the nav bar*/
    margin: 0 0 0 0;
  }
  .hiddenDesktop{
    margin: 0 0 0 85%;
    position: absolute;
    top: 20px;
    width: 10%;
  }
  /*Hides original nav links*/
  .hiddenMobile{
    /* display: none; */
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }
  /* .sidebar{
    display: block;
  } */
  .sidebar{
    background: grey;
    display: none;
    font-size: 1.5em;
    margin: 0 0 0 0%;
    padding: 5px 15px;
    position: absolute;
    width: 50%;
    z-index: 100;
  }
  ul > li{
    display: block;
    font-size: 1.5em;
    list-style-type: none;
    margin: 0 0 0 1.25%;
    overflow: hidden;
    padding: 0;
    width: 95%;
  }
  a{
    color: #FFF;
    text-decoration: none;
  }
  li a:hover{
    text-decoration: underline;
  }
  /*End of targeting the Nav*/
  ul + hr{
    margin: -0.9em 0 5em 3%;
    width: 50%;
  }
  .banner{
    background: #FFF;
    border: 1px solid white;
    height: 25em;
    max-height: ;
    margin: auto;
    width: 95%;
    max-width: ;
  }
  .mainBlogButton{
    border: none;
    font-size: 1.4em;
    font-weight: 700;
    height: 2.6em;
    margin: 2em 0 -1em 12%;
    width: 75%;
  }
  /* Everything that falls under the main content section
  includes up until hit us up on instagram */
  .mainContent{
    background: #FFF;
    border: 1px solid transparent;
    height: 306em;/*Might make this 220*/
    max-height:320em ;
    margin: 10em auto;
    width: 95%;
    max-width: ;
  }
  /*****************************************
  ******************************************
  Start of Targets the about section of the website
  this includes topfloor and basement scene
  also the blog button*********************
  ******************************************
  *******************************************/
  .topFloor{
    border: 0.555em solid #262626;
    float: left;
    margin: -4em 0 0 11%;
    width: 75%;
  }
  .titleBorderTop{
    border: .5em solid grey;
    height: 7em;
    margin: 5em 0 0 3%;
    width: 44%;
  }
  .topFloorTypeface{
    color: #000;
    font-size: 2em;
    margin: 0.2em 0 0 4%;
    width: 155%;
  }
  .topFloor + p{
    float: left;
    margin: 10px auto;
    width: 100%
  }
  /*************targeting basementscene*/
  .topBasement{
    border: 0.555em solid #262626;
    margin: -4em 0 0 9%;
    width: 75%;
  }
  .titleBorderBottom{
    border: .5em solid grey;
    height: 7em;
    margin: 35em 0 0 48.5%;
    width: 44%;
  }
  .topBasementTypeface{/*Targets basement scene typeface only*/
    color: #000;
    font-size: 2em;
    font-weight: 800;
    margin: 0.2em 0 2.5em -39%;
  }
  img + p {
    float: left;
    font-size: 1.3em;
    margin: 10px auto;
    width: 100%;
  }
  .blogButton{
    background-color: #262626;
    border: none;
    clear: both;
    color: #FFF;
    float: left;
    font-size: 1.2em;
    font-weight: 600;
    height: 3.6em;
    margin: 1em 0 0 30%;
    width: 35%;
  }
  /*****************************************
  ******************************************
  END of Targets the about section of the website
  this includes topfloor and basement scene
  also the blog button*********************
  ******************************************
  *******************************************/


  /*****************************************
  ******************************************
  Start of targeting h2 "All about Location"
  ******************************************
  *******************************************/
  .mainContent > h2{
    color: #000;
    font-size: 4em;
    margin: 290px 0 0 0;
    position: relative;
    top: 56px;
    text-align: left;
    width: 95%;
  }

  button + h2{
    color: #000;
    font-size: 4.5em;
    margin: 1em 0 0 70%;
    width: 25%;
  }
  /*****************************************
  ******************************************
  end of targeting h2 "All about Location"
  ******************************************
  *******************************************/
  .interactiveMap{
    height: 325px;
    width: 100%;
  }
  .mapCards{
    width: 30%;
    position: absolute;
    left:2.1%;
    top:2100px;
    z-index: 100;
  }
  .hidden{
    display: none;
  }
  /* Starting the Accordian Code */
  /* Starting the Accordian Code */
  /* Starting the Accordian Code */
  /* Starting the Accordian Code */
  /* Starting the Accordian Code */
  .accordianMenu{
    background: #262626;
    border: 1px solid #262626;
    margin: 15px auto;
    /* max-height: 400px; */
    max-width: 600px;
    /* overflow: scroll; */
    width: 99%;
  }

  button.accordian{
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    padding: 15px 20px;
    text-align: left;
    transition: background-color 0.2s linear;
    width: 100%;
  }

.accordianScroll{
  max-height: 400px;
  overflow: scroll;
}

  button.accordian::after{
    content: '\f055';
    float: right;
    font-family: "fontawesome";
    font-size: 14px;
  }

  button.accordian.is-open:after{
    content: '\f056'
  }

  button.accordian:hover{
    background-color: #262626;
    color: white;
  }


  .accordianPanel{
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    transition: max-height 0.2s ease-in-out;
  }
  .accordianImage{
    width: 100%;
  }

  .panelFont{
    color: white;
    font-size: 1.2em;
  }

  /* Ending the Accordian Code  */
  /* Ending the Accordian Code  */
  /* Ending the Accordian Code  */
  /* Ending the Accordian Code  */
  /* Ending the Accordian Code  */
  #social{
    margin: 0 0 40px 0;
  }
  img + h2 {
    color: #000;
    font-size: 4.5em;
    width: 45%;
  }
  .img-fluid{
    display: inline;
    float: left;
    margin-bottom: 25px;
    padding-left: 0.7%;
    width: 21%;
  }
  .instagramApiMobileSection{
    border: 1px solid transparent;
    height: 216px;
    overflow: hidden;
  }
  .instaimg img:hover{
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
  }
  /* .instagramCarsoul{
    background: #262626;
    border: 1px solid #262626;
    height:300px;
    margin: 50px 0 -35 0;
    width: 300px;
  } */
  .moreButton{
    background-color: #FFF;
    border: .3em solid #8f8f8f;
    font-size: 1.6em;
    font-weight: 800;
    height: 2.5em;
    margin: 20px 0 0 35%;
    width: 26%;
  }

  h2{
    color: #FFF;
  }
  p{
    color: #000;
  }
  .faqContact{
    background: #262626;
    border: 1px solid transparent;
    height: 65em;
    max-height: 285em;
    margin: 10em 0 0 -0.1em;
    width: 100.1%;
  }
  .headers{
    border: 1px solid transparent;
    font-size: 4.5em;
    font-weight: 800;
    margin: 5px 0 -30px 0;
    height: 2em;
    width: 100%s
  }
  .contactHeader{
    display: none;
    margin: 0 0 0 -49%;
    position: absolute;
    top: 2994px;
    width: 94%;
  }
  .faq{
    border: 1px solid transparent;
    float: left;
    font-size: 1.5em;
    height: 17em;
    overflow-x: auto;
    width: 100%
  }
  {/*this targets h2 for get in touch*/

  }
  ol > li{
    display: block;
    margin: 24px 0 0 0;
    overflow: hidden;
    padding: 5px;
  }
  /***********************************/
  /***********STarts the *************/
  /***********Faq Page ***************/
  /***********Jquery Code*************/
  li.q{
    cursor: default;
    font-size: 1em;
  }
  li.a{
    font-size: 0.9em;
    font-weight: 300;
    margin: 0 0 0 0;
  }
  li.q::before{
  content: attr(data-icon);
  margin-right: 10px;
  }
  /* li.q:hover{
    text-decoration: underline;
  } */

  /***********************************/
  /***********Ends the *************/
  /***********Faq Page ***************/
  /***********Jquery Code*************/
  .socialMedia{
    color: #fff;
    font-size: 3.2em;
    font-weight: 800;
    margin: 1em 0 0 -6%;
  }
  a > img{/*the social media links and images*/
  margin: 0.5em 0 0 2.5%;
  width: 12%;
  }

  .contact{
    border: 1px solid transparent;
    float: left;
    height: 35em;
    margin: 75px 0 -60px 0%;
    width: 100%
  }
  .contact > h1{
    font-size: 4.5em;
    font-weight: 800;
    margin: -71px 0 0 0;
  }
  .emailHover:hover{
    color: grey;
  }
  /* #fname{
    display: none;
    height: 2.5em;
    width: 30%;
  }
  #lname{
    display: none;
    height: 2.5em;
    margin: 0 0 0 5%;
    width: 30%;
  }
  #subject{
    display: none;
    margin: 13px 0 0 0%;
    width: 66.5%;
  }
  #submit{
    background: none;
    border: none;
    color: #FFF;
    display: none;
    font-size: 1.3em;
    font-weight: 700;
    margin: 1.3em 0 0 50%;
  } */
  h4{
    color: #000;
    font-size: 1.2em;
    margin: 0 0 0 0;
    text-align: center;
  }
  .topEho{
    font-weight: 400;
    margin: 2.5em 0 0.5em 0;
  }
  .bottomEho{
    font-weight: 400;
    margin: 0.5em 0 0 0;
  }
  h4 + img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 11%;
  }
  footer {

  }

}
